Flask~=1.1.2
flask_restful==0.3.8
requests==2.23.0
selenium==3.141.0
py==1.9.0
pip==20.0.2
wheel==0.34.2
attrs==19.3.0
toml==0.10.1
wcwidth==0.1.9
pluggy==0.13.1
pexpect==4.8.0
urllib3==1.25.8
pyparsing==2.4.7
six==1.14.0
setuptools==46.0.0
packaging==20.3
zipp==3.1.0
mysql
mysql-connector-python==8.0.21
pytest==6.0.2
paramiko==2.7.2
